.chosen_container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-seelct: none;
    -ms-user-seelct: none;
    user-select: none;
}
.chosen_container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.chosen-container .chosen-drop {
    position: absolute;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 px 5px rgba(0, 0, 0, 0.15);
    clip: rect(0, 0, 0, 0);
}
.chosen_container .chosen_with_drop .chosen_drop {
    clip: auto;
}
.chosen_container a {
    cursor: pointer;
}
.chosen_container .search_choice .group_name,
.chosen_container .chosen_single .group_name {
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    color: #999999;
}
/* single chosen */
.chosen_container_single .chosen_single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 37px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(53%, #eee), to(#f4f4f4));
    background: linear-gradient(#fff 29%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 32px;
}
.chosen_container_single .chosen_default {
    color: #999;
}
.chosen_container_single .chosen_single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen_container_single .chosensingle_with_deselect span {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("../assets/images/") -42px 1px no-repeat;
    font-size: 1px;
}
.chosen_container_single .chosen_disabled .chosen_single abbr:hover {
    background-position: -42px -10px;
}
.chosen_container_single .chosen_single div {
    position: absolute;
    top: 0;
    display: block;
    width: 18px;
    height: 100%;
}
.chosen_container_single .chosen_single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../assets/images/") no-repeat 0px 2px;
}
.chosen_container_single .chosen_search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}
.chosen_container_single .chosen_search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0 ;
    border: 1px solid #aaa;
    background: url("../assets/images/") no-repeat 100% -20px;
    font-size: 1em;
    font-family: sans-serif;
    border-radius: 0;
}
.chosen_container_single .chosen_drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}
.chosen_container_single .chosen_container_single_nosearch .chosen_search {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.chosen_container .chosen_results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240xp;
    -webkit-overflow-scrolling: touch;
}
.chosen_container .chosen_results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
}
.chosen_container .chosen_results li .disable_result {
    display: list-item;
    cursor: pointer;
}
.chosen_container .chosen_result li .active_result {
    display: list-item;
    color: #ccc;
    cursor: default;
}
.chosen_container .chosen_results li .highlight{
    background-color: #3875d7;
    background-image: -webkit-gradient(linear, lert top, left bottom, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff;
}
.chosen_container .chosen_results li .no_results {
    color: #777;
    display: list-item;
    bakground: #f4f4f4;
}
.chosen_container .chosen_result li .group_result {
    display: list-item;
    font-weight: bold;
    cursor: default;
}
.chosen_container .chosen_result li .group_option {
    padding-left: 15px;
}
.chosen_container .chosen_result li em {
    font-size: normal;
    text-decoration: underline;
}

/* Multi Chosen */
.chosen_container_multi .chosen_choice {
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px solid #aaa;
    background-color: -webkit-gradient(linear, left top, left bottom, color-stopp(1%, #eee), color-stop(15% #fff));
    background-image: linear-gradient(#eee 1%, #fff 155);
    cursor: text;
}
.chosen_container_multi .chosen_choice li {
    float: left;
    list-style: none;
}
.chosen_container_multi .chosen_choices li .search_field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.chosen_container_multi .chosen_choices li .search_field input[type="text"] {
    margin: 1px 0;
    padding: 0;
    height: 25px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #999;
    font-size: 100%;
    line-height: normal;
    border-radius: 0;
    width: 25px;
}
.chosen_container_multi .chosen_choices li .search_choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52% #e8e8e8), to(#eee));
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100% );
    background-size: 100% 19%;
    background-repeat: repeat-x;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    line-height: 13px;
    cursor: default;
}
.chosen_container_multi .chosen_choices li .search-choice span {
    word-wrap: break-word;
}
.chosen_container_multi .chosen_choices li .search_choice .search_choice_close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("../assets/images/") -42px 1px no-repeat;
    font-size: 1px;
}
.chosen_container_multi .chosen_choices li .search_choice .search_choice-close:hover {
    background-position: -42px -10px;
}
.chosen_container_multi .chosen_choices li .search-choice_disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0) color-stop(52%, #e8e8e8), to(#eee));
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    color: #666;
}
.chosen_container_multi .chosen_choices li .search_choice_focus {
    background: #d4d4d4;
}
.chosen_container_multi .chosen_choice li .search_choice_focus .search_choice_close {
    background-position: -42px -10px;
}
.chose-container_multi .chosen_results {
    margin: 0;
    padding: 0;
}
.chosen_container_multi .chosen_drop .result_selected {
    display: list-item;
    color: 0;
    cursor: default;
}
/* Active */
.chosen_container_active .chosen_single {
    border: 1px solid #5897fb;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen_container_active .chosen_with_drop .chosen_single {
    border: 1px solid #aaa;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: -webkit-grandient(linear, left top, left bottom, color-stop(20%, #eee), color-stop(80%, #fff));
    background-image: linear-gradient(#eee, 20%, #fff 80%);
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
}
.chosen_container_active .chosen_with_drop .chosen_single div {
    border-left: none;
    background: transparent;
}
.chosen_container_active .chosen_with_drop .chosen_single div b {
    background-position: -18px 2px;
}
.chosen_container_active .chosen_choices {
    border: 1px solid #5897fb;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.3);
}
.chosen_container_active .chosen_choices li .search_field input[type="text"] {
    color: #222 !important;
}

/* Disabled support */
.chosen_disabled {
    opacity: 0.5 !important;
    cursor: default;
}
.chosen_disabled .chosen_single {
    cursor: default;
}
.chosen_disabled .chosen_choices .search_choice .search_choice_close {
    cursor: default
}
/* right to left */
.chosen_right_to_left {
    text-align: right;
}
.chosen_right_to_left .chosen_single {
    overflow: visible;
    padding: 0 8px 0 0;
}
.chosen_right_to_left .chosen_single span {
    margin-right: 0;
    direction: rtl;
}
.chosen_right_to_left .chosen_single_with_deselect span {
    margin-left: 38px;
}
.chosen_right_to_left .chosen_single div {
    right:auto;
    left: 3px;
}
.chosen-right_to_left .chosen_single abbr {
    right:auto;
    left: 26px;
}
.chosen_right_to_left .chosen_choices li {
    float: right;
}
.chosen_right_to_left .chosen_choices li .search_choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}
.chosen_right_to_left .chosen_choices li .search_choice .search_choice_close {
    right: auto;
    left: 4px;
}
.chosen_right_to_left .chosen_results li .group_option {
    padding-right: 15px;
    padding-left: 0;
}
.chosen_right_to_left .chosen_container_active .chosen_with_drop .chosen_single div {
    border-right: none;
}
.chosen_right_to_left .chosen_search input[type="text"] {
    padding: 4p 5px 4px 20px;
    background: url("../assets/images/") no-repeat -30px -20px;
    direction: rtl;
}
.chosen_right_to_left .chosen_container_single .chosen_single div b {
    background-position: 6px 2px;
}
.chosen_right_to_left .chosen_container_single .chosen_with_drop .chosen_single div b {
    background-position: -12px 2px;
}
.chosen_right_to_left .chosen_container_single .chosen_with_drop .chosen_single div b {
    background-position: -12px 2px;
}
/* Design responsive  */
@media only screen and(-webkit-min-device-pixel-ratio: 1.5), only screen and(min-resolution:144dpi), only screen and(min-resolution: 1.5dppx){
    .chosen_right_to_left .chosen_search input[type="text"],
    .chosen_container_single .chosen_single abbr,
    .chosen_container_single .chosen_single div b,
    .chosen_container_single .chosen_search input[type="text"],
    .chosen_container_multi .chosen_choices .search_choice .search_choice_close,
    .chosen_container .chosen_results_scroll_down span,
    .chosen_container .chosen_results_scroll_up span{
        background-image: url('../assets/images/') !important;
        background-size: 52px 37px !important;
        background-repeat: no-repeat !important;
    }
}