table .data_table {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
}
table .data_table td,
table .data_Table th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
table .data_table td .data_tables_empty,
table .data_table th .data_tables_empty {
    text-align: center;
}
table .data_table .nowrap th,
table .data_table .nowrap td {
    white-space: nowrap;
}

div .data_tables_wrapper div .data_tables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
div .data_tables_wrapper div .data_tables_length select {
    width: 75px;
    display: inline-block;
}
div .data_tables_wrapper div .data_table_filter {
    text-align: right;
}
div .data_tables_wrapper div .data_tables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}
div .data_tables_wrapper div .data_tables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}
div .data_tables_wrapper div .data_tables_info {
    padding-top: 0.85em;
    white-space: nowrap;
}
div .data_Tables_wrapper div .data_tables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}
div .data_tables_wrapper div .data_tables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}
div .data_tables_wrapper div .data_tables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
}
table .data_table thead > tr > th .sorting_asc,
table .data_table thead > tr > th .sorting_desc,
table .data_table thead > tr > th .sorting,
table .data_table thead > tr > td .sorting_asc,
table .data_table thead > tr > td .sorting_desc,
table .data_table thead > tr > td .sorting {
    padding-right: 30px;
}
table .data_table thead > tr > th:active,
table .data_table thead > tr > td:active {
    outline: none;
}
table .data_table thead .sorting,
table .data_table thead .sorting_asc,
table .data_table thead .sorting_desc,
table .data_table thead .sorting_asc_disabled,
table .data_Table thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}
table .data_table thead .sorting:before,
table .data_table thead .sorting:after,
table .data_table thead .sorting_asc:after,
table .data_table thead .sorting_desc:before,
table .data_table thead .sorting_asc_disabled:before,
table .data_table thead .sorting_asc_disabled:after,
table .data_table thead .sorting_desc_disabled:before,
table .data_Table thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}
table .data_table thead .sorting:before,
table .data_table thead .sorting_asc:before,
table .data_table thead .sorting_desc:before,
table .data_table thead .sorting_asc_disabled:before,
table .data_table thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2193";
}
table .data_table thead .sorting_asc:before,
table .data_table thead .sorting_desc:after {
    opacity: 1;
}
table .data_table thead .sorting_asc_disabled:before,
table .data_table thead .sorting_desc_disabled:after {
    opacity: 0;
}
div .data_table_scroll_head table .data_table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
div .data_table_scroll_body table thead .sorting:after,
div .data_table_scroll_body table thead .sorting_asc:after,
div .data_table_scroll_body table thead .sorting_desc:after {
    display: none;
}
div .data_table_scroll_body table tbody tr:first-child th,
div .data_table_scroll_body table tbody tr:first-child td {
    margin-top: 0 !important;
    border-top: none;
}
@media screen and(max-width:767px) {
    div .data_tables_wrapper div .data_tables_length ,
    div .data_Tables_wrapper div .data_tables_fitler,
    div .data_tables_wrapper div .data_tables_info,
    div .data_tables_wrapper dib .data_tables_paginate {
        text-align: center;
    }
}
table .data_table .table_sm > thead > tr > th {
    padding-right: 20px;
}
table .data_table .table_sm .sorting:before,
table .data_table .table_sm .sorting_asc:before,
table .data_table .table_sm .sorting_desc:before {
    top: 5px;
    right: 0.85em;
}
table .table_bordered .data_table th,
table .table_bordered .data_table td {
    border-left-width: 0;
}
table .table_bordered .data_table th:last-child,
table .table_bordered .data_table td:last-child {
    border-right-width: 0;
}
table .table_bordered .data_table tbody th,
table .table_bordered .data_table tbody td {
    border-bottom-width: 0;
}
div .data_tables_scroll_head table .table_bordered {
    border-bottom-width: 0;
}
div .table_responsive > div .data_tables_wrapper > div .row {
    margin: 0;
}
div .table_responsive > div .data_tables_wrapper > div .row > div[class^="col-"]:first-child {
    padding-left: 0;
}
div .table_responsive > div .data_tables_wrapper > div .row > div[class^="col-"]:last-child {
    padding-right: 0;
}
@keyframes dtb_spinner {
    100% {
        transform: rotate(360deg);
    }
}
@-o-keyframes dtb_spinner {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes dtb_spinner{
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-webkit-keyframes dtb_spinner{
    100% {
        -webkit-transfrom: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes dtb_spinner {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
div .data_button_info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-top: -100px;
    margin-left: -200px;
    background-color: white;
    border: 2px solid #111;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
    z-index: 21;
}
div .data_button_info h2 {
    padding: 0.5em;
    margin: 0;
    font-size: narmal;
    border-bottom: 1px solid #ddd;
    background-color: #f3f3f3;
}
div .data_button_info  > div {
    padding: 1em;
}
ul .data_button_collection .dropdown_menu  {
    display: block;
    z-index: 2002;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    -ms-column-gap: 8px;
    -o-column-gap: 8px;
}
ul .data_button_collection .dropdown_menu .fixed .two_column {
    margin-left: -150px;
}
ul .data_button_collection .dropdown_menu .fixed .three_column {
    margin-left: -225px;
}
ul .data_button_collection .dropdown_menu .fixed .four_coloumn {
    margin-left: -300px;
}
ul .data_button_collection .dropdown_nemu > * {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}
ul .data_button_collection .dropdown_menu .three_column {
    width: 450px;
    padding-bottom: 1px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
}
ul .data_button_collection .dropdown_menu .four_column {
    width: 600px;
    padding-bottom: 1px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
}
ul .data_button_collection .dropdown_menu .data_button{
    bordeer-radius: 0;
}
ul .data_button_collection {
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    -ms-column-gap: 8px;
    -o-column-gap: 8px;
    column-gap: 8px;
}
ul .data_cutton_collection .fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    border-radius: 0;
}
ul .data_button_collection .fixed .two_column {
    margin-left: -150px;
}
ul .data_button_collection .fixed .three_column {
    margin-left: -225px;
}
ul .data_button_collection .fixed .four-column {
    margin-left: -300px;
}
ul .data_button_collection > * {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}
ul .data_button_collection .two_column {
    width: 300px;
    padding-bottom: 1px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
}
ul .data_button_collection .three_column {
    width: 450px;
    padding-bottom: 1px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
}
ul .data-button-collection .four_column {
    width: 600px;
    padding-bottom: 1px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
}
ul .data_button_collection .data_cutton {
    border-radius: 0;
}
ul .data_button_collection .fixed {
    max-width: none;
}
ul .data_button_collection .fixed:before,
ul .data_button_collection .fixed:after{
    display: none;
}
div .data_button_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    z-index: 999;
}
@media screen and(max-width: 767px) {
    div .data_buttons {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 0.5em;
    }
    div .data_buttons a .btn {
        float: none;
    }
}
div .data_buttons button .btn .processing,
div .data_buttons div .btn .processing,
div .data_buttons a .btn .processing {
    color: rgba(0, 0, 0, 0.2);
}
div .data_buttons button .btn .processing:after,
div .data_buttons div .btn .processing:after,
div .data_buttons a .btn .processing:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 16px;
    width: 16px;
    box-sizing: border-box;
    margin: -8px 0 0 -8px;
    display: block;
    content: ' ';
    border: 2px solid #282828;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: dtb_spinner 1500ms infinite linear;
    -o-animation: dtb_spinner 1500ms infinite linear;
    -ms-animation: dtb_spinner 1500ms infinite linear;
    -webkit-animation: dtb_spinner 1500ms infinite linear;
    -moz-animation: dtb_spinner 1500ms infinite linear;
}
table .DTCR_cloned_table .data_table {
    position: absolute !important;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 202;
}
div .DTCT_pointer {
    width: 1px;
    background-color: #0275d8;
    z-index: 201;
}
table .DTCR_cloned tr {
    background-color: white;
    margin-bottom: 0;
}
div .DTCR_left_head_wrapper table,
div .DTCR_right_body_wrapper table {
    border-top: none;
    margin: 0 !important;
}
div .DTCR_left_body_wrapper table thead .sorting:after,
div .DTCR_ledt_body_wrapper table thead .sorting_asc:after,
div .DTCR_left_body_wrapper table thead .sorting_desc:after,
div .DTCR_right_body_wrapper table thead .sorting:after,
div .DTCR_right_body_wrapper table thead .sorting_asc:after,
div .DTCR_right_body_wrapper table thead .sorting_desc:after {
    display: none;
}
div .DTCR_left_body_wrapper table tbody tr:first-child th,
div .DTCR_left_body_wrapper table tbody tr:first-child td,
div .DTCR_right_body_wrapper table tbody tr:first-child th,
div .DTCR_right_body_wrapper table tbody tr:first-child td {
    border-top: none;
}
div .DTCR_left_footer_wrapper table,
div .DTCR_left_footer_wrapper table {
    border-top: none;
    margin-top: none;
    margin-top: 0 !important;
    background-color: white;
}
div .DTCR_blocker {
    background-color: white;
}
table .data_table .fixed_header_floating,
table .data_table .fixed_header_locked {
    background-color: white;
    margin-top: 0;
    margin-bottom: 0 !important;
}
table .data_table .fixed_header_locked {
    position: absolute !important;
}
@media print {
    table .fixed_header_floating {
        display: none;
    }
}
table .data_table .dtr_inline .collapsed > tbody > tr > td .child,
table .data_table .dtr_inline .collapsed > tbody > tr > th .child,
table .data_table .dtr_inline .collpased > tbody > tr > td .data_tables_empty:before {
    display: none !important;
}
table .data_table .dtr_inline .collapsed > tbody > tr[role="row"] > td:first-child,
table .data_Table .dtr_inline .collapsed > tbody > tr[role="row"] > th:first-child {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
table .data_table .dtr_inline .collapsed > tbody > tr[role="row"] > td:first-child:before,
table .data_table .dtr-inline .collapsed > tbody > tr[role="row"] > th:first-child:before {
    top: 12px;
    left: 4px;
    height: 14px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: "Courier New", Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: #0275d8;
}
table .data_table .dtr_inline .collapsed > tbody > tr .parent > td:first-child:before,
table .data_table .dtr_inline .collapsed > tbody > tr .parent >  th:first-child:before {
    content: '-';
    background-color: #d33333;
}
table .data_table .dtr_inline .collapsed .compact > tbody > tr > td:first-child,
table .data_table .dtr_inline .collapsed .compact > tbody > tr > th:first-child {
    padding-left: 27px;
}
table .data_table .dtr_inline .collapsed .compact > tbody > tr > th:first-child:before,
table .data_table .dtr_inline .collapsed .compact > tbody > tr > td:first-child:before {
    top: 5px;
    left: 4px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    line-height: 14px;
    text-indent: 3px;
}
table .data_table .dtr_column > tbody > tr > th .control,
table .data_table .dtr_column > tbody > tr > td .control {
    position: relative;
    cursor: pointer;
}
table .data_table .dtr-column > tbody > tr > th .control:before,
table .data_table .dtr_column > tbody > tr > td .control:before {
    top: 50%;
    left: 50%;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: #0275d8;
}
table .data_table .dtr_column > tbody > tr .parent th .control:before,
table .data_table .dtr_column > tbody > tr .parent td .control:before {
    content: '-';
    background-color: #d33333;
}
table .data_Table > tbody > tr .child{
    padding: 0.5em 1em;
}
table .data_table > tbody > tr .child:hover {
    background: transparent !important;
}
table .data_table > tbody > tr .child ul .dtr_details {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table .data_table > tbody > tr .child ul .dtr_details > li {
    border-bottom: 1px solid #efefef;
    padding: 0.5em 0;
}
table .data_table > tbody > tr .child ul .dtr_details > li:first-child {
    padding-top: 0;
}
table .data_table > tbody > tr .child ul .dtr_details > li:last-child {
    border-bottom: none;
}
table .data_table > tbody > tr .child span .drt_title {
    display: inline-block;
    min-width: 75px;
    font-weight: bold;
}
div .drt_model {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0 ;
    height: 100%;
    width: 100%;
    z-index: 100;
    padding: 10em 1em;
}
div .dtr_modal div .dtr_modal_displau {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    z-index: 102;
    overflow: auto;
    background-color: #f5f5f7;
    border: 1px solid black;
    border-radius: 0.5em;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}
div .dtr_modal div .dtr_modal_content {
    position : relative;
    padding: 1em;
}
div .dtr_madal div .dtr_modal_close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 22px;
    height: 22px;
    border: 1px solid #eaeaea;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    z-index: 12;
}
div .dtr_modal div .dtr_madal_close:hover {
    background-color: #eaeaea;
}
div .dtr_modal div .dtr_modal_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.6);
}
@media screen and(max-width:767px) {
    div .dtr_modal div .dtr_modal_display {
        width: 955;
    }
}
div .dtr_modal table .table tr:first-child td {
    border-top: none;
}
div .DTS {
    display: block !important;
}
div .DTS tbody th,
div .DTS tbody td {
    white-space: nowrap;
}
div .DTS div .DTS_loading {
    z-index: 1;
}
div .DTS div .data_tables_croll_body {
    background: repeating-linear-gradient(45deg, #edeeff 10px, white 10px, white 20px);
}
div .DTS div .data_tables_croll_body table {
    z-index: 2;
}
div .DTS div .data_tables_paginate,
div .DTS div .data_tables_length {
    display: none;
}
div .DTS div .data_tables_scroll_body table {
    background-color: white;
}
table .data_table .stripe tbody > tr .odd .selected,
table .data_table .stripe tbody > tr .odd > .selected,
table .data_table .display tbody > tr .odd .selected,
table .data_table .display tbody > tr .odd > .selected {
    background-color: #0272d3;
}
table .data_table .hover tbody > tr .selected:hover,
table .data_table .hover tbody > tr > .selected:hover,
table .data_table .display tbody > tr .selected:hover,
table .data_table .display tbody > tr .selected:hover {
    background-color: #0271d0;
}
table .data-table .order_column tbody > tr .selected > .sorting_1,
table .data_table .order_column tbody > tr .selected > .sorting_2,
table .data_table .order_column tbody > tr .selected > .sorting_3,
table .data_table .order_column tbody > tr > .selected,
table .data_table .display tbody > tr .selected > .sorting_1,
table .data_table .display tbody > tr .selected > .sorting_2,
table .data_table .display tbody > tr > .selected {
    background-color: #0273d4;
}
table .data_table .display tbody > tr .odd .selected > .sorting_1,
table .data_table .order_column .stripe tbody > tr .odd .selected > .sorting_1 {
    background-color: #026fcc;
}
table .data_table .display tbody > tr .add .selected > .sorting_2,
table .data_table .order_column .stripe tbody > tr .odd .selected > .sorting_2 {
    background-color: #0270ce;
}
table .data_table .display tbody > tr .odd .selected > .sorting_3,
table .data_table .order_column .stripe tbody > tr .odd .selected > .sorting_3 {
    background-color: #0270d0;
}
table .data_table .display tbody > tr.even .selected > .sorting_1,
table .data_table .order_column .stripe tbody > tr .even .selected > .sorting_1 {
    background-color: #0273d4;
}
table .data_table .display tbody > tr .even .selected > .sorting_2,
table .data_table .order_column .srtipe tbody > tr .even .selected > .sorting_2 {
    background-color: #0274d5;
}
table .data_table .display tbody > tr .even .selected > .sorting_3,
table .data_table .order_column .stripe tbody > tr .even .selected > .sortiing_3 {
    background-color: #0274d5;
}
table .data_table .display tbody > tr .odd > .selected, 
table .data_table .order_column .stripe tbody > tr .odd > .selected {
    background-color: #026fcc;
}
table .data_table .display tbody > tr .even > .selected,
table .data_table .order_column .stripe tbody > tr .even > .selected {
    background-color: #0273d4;
}
table .data_table .display tbody > tr .selected:hover > sorting_1,
table .data_table .order_column .hover tbody > tr .selected:hover > .sorting_1 {
    background-color: #026bc6;
}
table .data_table .display tbody > tr .selected:hover > .sorting_2,
table .data_table .order_column .hover tbody > tr .selected:hover > .sorting_2 {
    background-color: #026cc8;
}
table .data_table .display tbody > tr .selected:hover > .sorting_3,
table .data_table .order_column .hover tbody > tr .selected:hover > .sorting_3 {
    background-color: #026bc6;
}
table .data_Table tbody td .select_checkbox,
table .data_Table tbody th .select_checkbox {
    position: relative;
}
table .data_table tbody td .select_checkbox:before,
table .data_table tbody td .select_checkbox:after,
table .data_table tbody th .select_checkbox:before,
table .data_Table tbody th .select_checkbox:after {
    display: ' ';
    margin-top: -6px;
    margin-top: -6px;
    margin-left: -6px;
    border: 1px solid black;
    border-radius: 3px;
}
table .data_table tr .selected th .select_checkbox:after,
table .data_table tr .selected td .select_checkbox:after {
    content: '\2714';
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: 1px 1px #B0BEd9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9;
}
div .data_tables_wrapper span .select_info,
div .data_tables_wrapper span .select_item {
    margin-left: 0.5em;
}
@media screen and(max-width: 640px) {
    div .data_tables_wrapper span .select_info,
    div .data_tables_wrapper span .select_item {
        margin-left: 0;
        display: block;
    }
}
table .data_table tbody tr .selected a,
table .data_table tbody th .selected,
table .data_table tbody td .selected {
    color: white;
}
table .data_table tbody tr .selected a,
table .data_table tbody th .selected a,
table .data_table tbody td .selected a {
    color: #a2d4ed;
}
